*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}
nav{
    width: 100%;
    position: fixed;
    top: 0;
    left: 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    transition: 0.6s;
    padding: 15px 37px;
}
nav.sticky{
    padding: 3px 57px;
    background: white;
    background-size: cover;
    box-shadow: 0px 2px 5px rgba(0,0,0,0.5);
    z-index: 2;
}
nav.sticky .logo,
nav.sticky ul li a{
    color: black;
}
nav.sticky .nav-contact{
    color: black;
    border: 2px solid rgb(67, 196, 255);
}
nav.sticky .nav-contact a{
  color: black;
}
nav .logo{
    position: relative;
    color: #fff;
    font-size: 2em;
    font-weight: 700;
    text-transform: uppercase;
    letter-spacing: 2px;
    transition: 0.6s;
}
nav ul{
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
}
nav ul li{
    position: relative;
    list-style: none;
}
nav ul li a{
    position: relative;
    margin: 0 15px;
    text-decoration: none;
    color: #fff;
}
nav ul li a:hover{
    color: rgb(67, 196, 255);
}
nav .nav-contact{
    color: rgb(67, 196, 255);
    border-radius: 30px;
    margin: 17px 30px;
    padding: 20px 15px ;
    border: 2px solid rgb(67, 196, 255);
    transition: all 0.5s ease-in;
}
nav .nav-contact a{
  text-decoration: none;
  color: white;
}
nav .nav-contact:hover{
    color: white;
    background-color: rgb(67, 196, 255)!important;
    border-color: rgb(67, 196, 255);
    text-decoration: none;
}
/*---------------------------------Home--------------------------------*/
.slider{
    width: 100%;
    height: 700px;
    background-image: url(./img/background.jpg);
    background-size: cover;
    background-position:center;
    color: white;
    text-align: center;
    text-decoration: none;
    list-style: none;
}
.slider-overlay{
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.65);
    position: relative;

    
}
.slider-content{
    position: absolute;
    top: 33%;
    width: 100%;
}
.icons{
    margin-bottom: 50px;
}
.icons .fa
{
    color: rgb(67, 196, 255);
    font-size: 35px;
    margin-right: 7px;
}
.slider .text{
    display: inline-block;
    font-size: 50px;
    text-transform: uppercase;
    margin-bottom: 33px;
}
.social-networks  .fa{
    border: 1px solid rgb(67, 196, 255);
    color: rgb(67, 196, 255);
    padding: 10px;
    width: 35px;
    height: 35px;
    border-radius: 50%;
    margin-right: 2px;
    text-decoration: none;
    transition: all 0.5s ease-in;
}
.social-networks  .fa:hover{
    color: #fff;
    background-color: rgb(67, 196, 255);
    border-color: rgb(67, 196, 255);
    text-decoration: none;
}
.btn1{
    padding: 18px 38px;
    background-color: transparent;
    color: rgb(67, 196, 255);
    border-radius: 30px;
    text-transform: uppercase;
    text-decoration: none;
    letter-spacing: 1px;
    font-size: 13px;
    border: 2px solid rgb(67, 196, 255);
    transition: all 0.5s ease-in;
}
.btn1:hover{
    color: white;
    background-color: rgb(67, 196, 255) !important;
    border-color: rgb(67, 196, 255);
    text-decoration: none;
}
.btn2{
    padding: 18px 38px;
    background-color: transparent;
    color: rgb(67, 196, 255);
    border-radius: 30px;
    text-decoration: none;
    text-transform: uppercase;
    letter-spacing: 1px;
    font-size: 13px;
    border: 2px solid rgb(67, 196, 255);
    transition: all 0.5s ease-in;
}
.btn2:hover{
    color: white;
    background-color: rgb(67, 196, 255) !important;
    border-color: rgb(67, 196, 255);
    text-decoration: none;
}
/*                            About Me                               */
.heading
{
    width: 100%;
    text-align: center;
    margin-bottom: 30px;
    color: #111;
}
.heading h2{
    font-weight: 600;
    font-size: 30px;
}
.content{
    text-align: center;
}
.content.bg{
    background: rgba(206, 206, 206, 0.65);
    background: rgba(206, 206, 206, 0.65);
    margin: auto 50px;
    border-radius: 10px;
}
.about-img{
    margin: 23px auto;
    padding-top: 22px;
}
.about-img img{
    width: 250px;
    height: 250px;
    border-radius: 50%;
    border: 2px solid rgb(67, 196, 255);
    
}
.about-img img:hover{
    transform: scale(1.05);
}
.contentBx{
    margin: 27px auto;
}
.contentBx h3 strong{
    color: rgb(67, 196, 255);
}
.contentBx p{
    margin-top: 19px;
    padding-bottom: 20px;
}
/*                            Services                               */
.services
{
    background: #111;
    
}
.heading.white{
    color: white;
    padding-top: 30px;
}
.services .content{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    flex-direction: row;
}
.services .content .servicesBx
{
    padding: 40px 20px;
    background: #222;
    color: #fff;
    max-width: 340px;
    margin: 20px;
    text-align: center;
    transition: 0.5s;
}
.services .content .Bx1:hover{
    background: rgb(67, 196, 255);
    transform: scale(1.05);
}
.services .content .Bx2:hover{
    background: goldenrod;
    transform: scale(1.05);
}
.services .content .Bx3:hover{
    background: rgb(231, 65, 65);
    transform: scale(1.05);
}
.services .content .servicesBx img
{
    max-width: 80px;
    filter: invert(1);
}
.services .content .servicesBx h2{
  margin: 20px auto;
    font-size: 20px;
    font-weight: 600;
}
/*----------------------------Works---------------------*/

.works-bg {
    background-image: url("https://i.ibb.co/sg9qLgT/IMG-2140.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    min-height: 100vh;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .carousel {
    width: 600px;
    height: 400px;
    position: relative;
    margin: 0 auto;
  }
  
  .carousel .carousel-item,
  .carousel-item-hidden {
    display: none;
  }
  
  .carousel .carousel-item-visible {
    display: block;
    animation: fadeVisibility;
    animation-duration: 0.5s;
  }
  
  .carousel .carousel-item img {
    width: 100%;
    max-width: 600px;
    height: auto;
  }
  
  .carousel .carousel-actions {
    display: flex;
    width: 100%;
    justify-content: space-between;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
  }
  
  .carousel .carousel-actions #carousel-button-prev {
    border: none;
    background: #23c1ff;
    color: white;
    font-size: 37px;
    font-weight: bold;
    box-shadow: 10px 10px 15px #71e3ff;
    margin-left: -90px;
    border-radius: 50%;
  }
  
  .carousel .carousel-actions #carousel-button-next {
    border: none;
    background: #23c1ff;
    color: white;
    font-size: 37px;
    font-weight: bold;
    box-shadow: -10px 10px 15px #71e3ff;
    margin-right: -90px;
    border-radius: 50%;
  }
  
  @keyframes fadeVisibility {
    0% {
      opacity: 0;
    }
    100% {
      opacity: 1;
    }
  }

/*--------------------Progress--------------------*/
.progress{
  background: black;
  display: flex;
  justify-content: center;
  align-items: center;
}
/*---------------------Search---------------------*/
.search-side{
  display: flex;
  justify-content: space-around;
  align-items: center;
  min-height: 20vh;
  background: black;
}

.search-side .social-networks  .fa{
  border: 1px solid rgb(255, 255, 255);
  color: rgb(255, 255, 255);
  padding: 10px;
  width: 35px;
  height: 35px;
  border-radius: 50%;
  margin-right: 2px;
  text-decoration: none;
  transition: all 0.5s ease-in;
}
.search-side .social-networks  .fa:hover{
  color: #fff;
  background-color: #23c1ff;
  border-color: #23c1ff;
  text-decoration: none;
}
.search{
  position: relative;
  width: 60px;
  height: 60px;
  background: #fff;
  border-radius: 60px;
  transition: 0.5s;
  box-shadow: 0 0 0 5px #23c1ff;
  overflow: hidden;
}
.search.active{
  width: 360px;
}
.search .icon{
  position: absolute;
  top: 0;
  left: 0;
  width: 60px;
  height: 60px;
  background: rgb(255, 255, 255);
  border-radius: 60px;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1;
}
.search .icon::before
{
  content: '';
  position: absolute;
  width: 15px;
  height: 15px;
  border: 3px solid #287dfc;
  border-radius: 50%;
  transform: translate(-4px,-4px) ;

}
.search .icon::after
{
  content: '';
  position: absolute;
  width: 3px;
  height: 12px;
  background: #287dfc;
  transform: translate(6px,6px) rotate(315deg);
}
.search .input{
  position: relative;
  width: 300px;
  height: 60px;
  left: 60px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.search .input input{
  position: absolute;
  top: 0;
  width: 100%;
  height: 100%;
  border: none;
  outline: none;
  font-size: 18px;
}
.clear{
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  width: 15px;
  height: 15px;
  right: 15px;
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
}
.clear::before{
  position: absolute;
  content: '';
  width: 1px;
  height: 15px;
  background: black;
  transform: rotate(45deg);
}
.clear::after{
  position: absolute;
  content: '';
  width: 1px;
  height: 15px;
  background: black;
  transform: rotate(-45deg);
}
/*-----------------Contact form-------------------*/

  .contact-container {
    display: flex;
    background: black;
    height: 90vh;
  }
  .left-col img{
    width: 45vw;
    height: 90vh;
    background-size: cover;
    background-repeat: no-repeat;
  }
  .right-col {
    background: black;
    width: 50vw;
    height: 90vh;
    padding: 5rem 3.5rem;
  }
  .right-col h1 {
    color:white;
    text-transform: uppercase;
    font-size: 2.5rem;
    letter-spacing: 0.5rem;
    font-weight: 300;
  }
  
  .right-col p {
    color: #eee;
    font-size: 0.9rem;
    letter-spacing: 0.01rem;
    width: 40vw;
    margin: 0.25rem 0;
  }
  .contact-container form {
    width: 31.25rem;
    position: relative;
    margin-top: 2rem;
    padding: 1rem 0;
  }
  form input, textarea, label {
    width: 40vw;
    display: block;
  }
  p, placeholder, input, textarea {
    font-family: 'Helvetica Neue', sans-serif;
  }
  
  form input::placeholder, textarea::placeholder {
    color: rgb(168, 166, 166);
  }
  
  form input, textarea {
    color: rgb(168, 166, 166);
    font-weight: 500;
    background: rgb(61, 60, 60);
    border: none;
    border-bottom: 1px solid var(--secondary-color);
    padding: 15px 15px;
    margin-bottom: 1rem;
    outline: none;
    border-radius: 17px;
  }
  
  textarea {
    resize: none;
  }
  
  .right-col button {
    text-transform: uppercase;
    font-weight: 300;
    background:transparent;
    color: white;
    width: 10rem;
    height: 2.25rem;
    border: none;
    border-radius: 2px;
    outline: none;
    cursor: pointer;
    border-radius: 38px;
    border: 2px solid rgb(97, 136, 155);
  }
  
  input:hover, textarea:hover {
    opacity: 0.5;
  }
  .right-col button:hover{
    color: white;
    background-color: rgb(67, 196, 255)!important;
    border-color: rgb(67, 196, 255);
    text-decoration: none;
}



























